// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  font: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(56, 56, 174);
}

.letters_box {
  display: flex;
}

.letter_box {
  text-align: center;
  background-color: rgb(129, 145, 233);
  border-color: rgb(48, 70, 110);
  border-radius: 2px;
  height: 20px;
  width: 20px;
  padding: 10px;
  margin: 15px;
  box-shadow: 3px 3px 3px grey;
}

.result {
  text-align: center;
  background-color: rgb(169, 229, 162);
  border-color: rgb(8, 55, 30);
  border-radius: 2px;
  padding: 10px;
  margin: 15px;
  box-shadow: 3px 3px 3px grey;
}
